@model Manga
@{
    ViewData["Title"] = "Manga Übersicht";
}

<h1>Manga bearbeiten</h1>

<form action="/Manga/UpdateManga" method="post">
    <input type="hidden" id="MangaId" name="MangaId" value="@(Model.MangaId)"/>
    <table class="table">
        <thead>
        <tr>
            <td>Bezeichnung</td>
            <td>Eingabe</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Titel</td>
            <td>
                <input type="text" id="Titel" name="Titel" value="@(Model.Titel)">
            </td>
        </tr>
        <tr>
            <td>Autor</td>
            <td>
                <input type="text" id="Autor" name="Autor" value="@(Model.Autor)">
            </td>
        </tr>
        <tr>
            <td>Veroeffentlichungsdatum</td>
            <td>
                <input asp-for="Veroeffentlichungsdatum"/>
            </td>
        </tr>
        <tr>
            <td>Beschreibung</td>
            <td>
                <input type="text" id="Beschreibung" name="Beschreibung" value="@(Model.Beschreibung)">
            </td>
        </tr>
        <tr>
            <td>Bewertung</td>
            <td>
                <input type="number" id="Bewertung" name="Bewertung" value="@(Model.Bewertung)">
            </td>
        </tr>
        <tr>
            <td>Sprache</td>
            <td>
                <input type="text" id="Sprache" name="Sprache" value="@(Model.Sprache)">
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <input type="text" id="Status" name="Status" value="@(Model.Status)">
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Manga" class="btn btn-danger">Abbrechen</a>
            </td>
            <td>
                <button class="btn btn-success" type="submit">Speichern</button>
            </td>
        </tr>


        </tbody>
    </table>

</form>