@model List<Manga>
@{
    ViewData["Title"] = "Manga Übersicht";
}

<h1>Manga Übersicht:</h1>

<a href="/Manga/New" class="btn btn-success">Neuen Manga hinzufügen</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titel</th>
        <th>Autor</th>
        <th>Veroeffentlichungsdatum</th>
        <th>Beschreibung</th>
        <th>Bewertung</th>
        <th>Sprache</th>
        <th>Status</th>
        <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>

    @{
        foreach (var manga in Model)
        {
            <tr>
                <td>@(manga.MangaId)</td>
                <td>@(manga.Titel)</td>
                <td>@(manga.Autor)</td>
                <td>@(manga.Veroeffentlichungsdatum)</td>
                <td>@(manga.Beschreibung)</td>
                <td>@(manga.Bewertung)</td>
                <td>@(manga.Sprache)</td>
                <td>@(manga.Status)</td>
                <td>
                    <a href="/Manga/Edit?MangaId=@(manga.MangaId)" class="btn btn-secondary">Edit</a>
                    <a href="/Manga/Delete?MangaId=@(manga.MangaId)" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    }


    </tbody>


</table>